.menu {
  --tamanhoBordaAtual: 5 nm,px;
  --borderAtual: var(--tamanhoBordaAtual) solid var(--color2Dark);
  
  position: relative;
  width: 100%;
  height: min(10%, 4rem);
  background: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;

  .localAtual {
    background: var(--color1Dark);
  }

  &>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 100%;
    font-size: 0.8rem;
    padding: 0.5rem;
    transition: box-shadow 0.3s, color 0.3s, border 0.3s;
    transition-timing-function: linear;
    color: #eee;
    
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20rem rgba(0,0,0,0.5) inset;
    }

    &>span {
      font-size: 1.5em;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: column;
    width: min(10%, 4rem);
    height: 100%;
    
    .localAtual {
      border-left: var(--borderAtual);
      border-bottom: none;
    }
    
    &>* {
      width: 100%;
      height: auto;
      padding: 0.5rem 0;
      gap: 0.3rem;
    }

    .itemSeparado {
      position: absolute;
      right: auto;
      bottom: 0;
    }
  }
}